:root {
  --border-color: #291D4D;
  --dialog-background: #FFF3B4;

  --menu-background: #FFE8D2;
  --menu-border-color: #A48465;
  --menu-font-color: #3A160D;
  --menu-selected-background: #7fc2ff;
}

* {
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

button, a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.Overworld {
  display: flex;
  justify-content: center;
}

.game-container {
  position: relative;
  width: 352px;
  height: 224px;
  outline: 1px solid #fff;

  transform: scale(3) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
}

@media only screen and (max-width: 1024px) {
  .game-container {
    transform: scale(2.25) translateY(50%);
  }
}

@media only screen and (max-width: 768px) {
  .game-container {
    transform: scale(1.75) translateY(50%);
  }
}